<p-toolbar class="footer">
    <div class="flex w-full justify-between items-center px-3 py-2 text-sm gap-2">

        <div class="flex items-center gap-2 whitespace-nowrap text-xs">
            <img src="/favicon.ico" alt="Logo" class="w-4 h-4" />
            <span class="font-bold">MOVIX</span>
            <span>© 2025 - Todos os direitos reservados.</span>
        </div>

        <div class="flex gap-3">
            <a href="https://github.com/marcuslinhares" target="_blank" class="text-color">
                <i class="pi pi-github text-base"></i>
            </a>
            <a href="https://linkedin.com/in/marcus-linhares" target="_blank" class="text-color">
                <i class="pi pi-linkedin text-base"></i>
            </a>
        </div>

    </div>
</p-toolbar>