<div class="footer p-3 surface-900 text-white text-sm">
    <div class="flex justify-between items-center w-full overflow-x-auto whitespace-nowrap gap-2">
        <div class="flex-shrink-0">
            <strong>MOVIX</strong> © 2025 - Todos os direitos reservados.
        </div>

        <div class="flex gap-2 flex-shrink-0">
            <a href="https://github.com/seu-usuario" target="_blank">
                <i class="pi pi-github text-white text-base"></i>
            </a>
            <a href="https://linkedin.com/in/seu-usuario" target="_blank">
                <i class="pi pi-linkedin text-white text-base"></i>
            </a>
        </div>
    </div>
</div>