:host ::ng-deep input.p-inputtext {
    --p-inputtext-focus-border-color: white;
}

:host ::ng-deep .p-menubar {
    position: relative;
    z-index: 1000;
}

:host ::ng-deep .p-menu {
    z-index: 1100 !important;
}

::ng-deep .responsive-menubar .p-menubar-end {
    flex-wrap: wrap;
}

::ng-deep .responsive-menubar .p-inputtext {
    min-width: 150px;
}